NODE_ENV=development
DEV_PORT=4000
TEST_PORT=4010
PROD_PORT=4020
PASSWORD=12345

MONGO_ATLAS_DB_PROD=listicle
MONGO_ATLAS_DB_DEV=listicle-dev
MONGO_ATLAS_DB_TEST=listicle-test
MONGO_ATLAS_PW=atlas_password
MONGO_ATLAS_SERVER=test-cluster-01-xxxx.mongodb.net
MONGO_ATLAS_USER=atlas_username
MONGO_ATLAS_QUERY_PARAMS=retryWrites=true&w=majority
MONGO_LOCAL_CON_STR=mongodb://localhost:27017/
MONGO_SESSION_KEY=session_key

JWT_SECRET=jet_secret
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

NODEMAILER_EMAIL_USERNAME=nodemailer_username
NODEMAILER_EMAIL_PASSWORD=nodemailer_password
NODEMAILER_EMAIL_HOST=smtp.mailtrap.io
NODEMAILER_EMAIL_PORT=25
NODEMAILER_DEFAULT_FROM_ADDRESS="From name <username@test.com>"

RATE_LIMIT_MAX=100
RATE_LIMIT_MINS=60
